#ligne-question {
	text-align: center;
}

#lignes-reponses ul {
	font-family: Times New Roman, Times, serif;
	font-size: 120%;
	/*text-align: center;*/
	list-style-type: none;
	margin: 0;
	padding:0;
}

@media screen and (max-width: 767px) { 
 #lignes-reponses ul {
	font-size: 100%;
	}	
}

#autres-questions  p {
	font-size: 100%;
	margin-left: 0;
	padding-left: 0;
}