.back {
	position: absolute;
	bottom: 0px;
	background-color: white;
	width: 50px;
	height: 30px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

figure {
	position:relative;
}
			
figcaption {
	position: absolute;
	bottom: 0px;
}

label {
	display: block;
	width: 160px;
	float: left;
	font-weight: normal;
}

#webcam {
	position: relative;
}

#WLPVantagePro {
	margin-left: -4px; 
	margin-top: -4px;
}

#fond-meteo {
	position: absolute;
	bottom: 0px;	
	background-color: white;
	width: 245px;
	height: 90px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;		
}

#fond-meteo-ie {
	position: absolute;
	left: 4px;
	bottom: 4px;
	background-color: white;
	width: 245px;
	height: 90px;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5; 		
}	

#meteo {
	position: absolute;
	bottom: 0px;
}		

#meteo-ie {
	position: absolute;
	left: 4px;
	bottom: 4px;
}		

#meteo td p {
	margin-bottom: 0;
}

#meteo-small {
	position: absolute;
	bottom: 0px;	
	font-size: 65%;
}