.back {
	position: absolute;
	top: 0px;
	background-color: white;
	width: 50px;
	height: 30px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

figure {
	position:relative;
}
			
figcaption {
	position: absolute;
	top: 0px;
}

label {
	display: block;
	width: 160px;
	float: left;
	font-weight: normal;
}

#webcam {
	position: relative;
}

#WLPVantagePro {
	margin-left: -4px; 
	margin-top: -4px;
}

#fond-meteo {
	position: absolute;
	top: 0px;	
	background-color: white;
	width: 200px; /*215px;*/
	height: 120px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;		
}

#fond-meteo-xs {
	position: absolute;
	top: 0px;	
	background-color: white;
	width: 100%;
	height: 20px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;		
}

#fond-meteo-ie {
	position: absolute;
	left: 4px;
	top: 4px;
	background-color: white;
	width: 215px;
	height: 90px;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8; 		
}	

#meteo {
	position: absolute;
	top: 0px;
}		

#meteo-ie {
	position: absolute;
	left: 4px;
	bottom: 4px;
}		

#meteo td p {
	margin-bottom: 0;
}

#meteo-small {
	position: absolute;
	top: 0px;	
	font-size: 65%;
}

.table-commentaires {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
/*	margin-left: 40px;
	margin-bottom: 20px; */
}

.table-commentaires td {
	padding-right: 5px; 
	padding-bottom: 10px;
	vertical-align: top;
}