.table-commentaires {
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
/*	margin-left: 40px;
	margin-bottom: 20px; */
}

.table-commentaires td {
	padding-right: 5px; 
	padding-bottom: 10px;
	vertical-align: top;
}

@media screen and (max-width: 767px) { 
	.table-commentaires {
		font-size: 100%;
	}
}
